<div class="row">        <!-- first two days -->
  <div class="col-md-6"> <!-- left column -->
    <h3>Day 1</h3>
    <table class="table table-striped">
      <tr>               <!-- row 1   -->
        <td>Before starting</td>
        <td><a href="{{ site.pre_survey }}{{ site.github.project_title }}" target="_blank">Pre-workshop survey</a></td>
      </tr>
      <tr>               <!-- row 2   -->
        <td> Mañana</td>        <!-- time    -->
        <td><a href="https://swcarpentry.github.io/shell-novice-es/">Introducción a Bash</a></td>        <!-- content -->
      </tr>
      <tr>               <!-- row 3   -->
        <td>Medio día </td>        <!-- time    -->
        <td> <a href="https://swcarpentry.github.io/python-novice-inflammation/">Introducción a Python</a></td>        <!-- content -->
      </tr>
       <tr>               <!-- row 3   -->
        <td> Tarde</td>        <!-- time    -->
        <td><a href="https://carpentries-lab.github.io/metagenomics-workshop/">Introducción a Metagenomica</a></td>        <!-- content -->
      </tr>
    </table>
  </div>
  <div class="col-md-6"> <!-- right column -->
    <h3>Day 2</h3>
    <table class="table table-striped">
       <tr>               <!-- row 2   -->
        <td> Mañana</td>        <!-- time    -->
        <td><a href="https://swcarpentry.github.io/python-novice-inflammation/">Introducción a Python</a></td>        <!-- content -->
      </tr>
      <tr>               <!-- row 3   -->
        <td>Medio día </td>        <!-- time    -->
        <td><a href="https://swcarpentry.github.io/git-novice-es/">Introducción a Git</a> </td>        <!-- content -->
      </tr>
       <tr>               <!-- row 3   -->
        <td> Tarde</td>        <!-- time    -->
        <td><a href="https://carpentries-lab.github.io/metagenomics-workshop/">Introducción a Metagenomica</a></td>        <!-- content -->
      </tr>
    </table>
  </div>
</div>
<div class="row">        <!-- days 3 and 4 -->
  <div class="col-md-6"> <!-- left column -->
    <h3>Day 3</h3>
    <table class="table table-striped">
      <tr>               <!-- row 1   -->
        <td>9:00-11:00</td>        <!-- time    -->
        <td><a href="https://docs.google.com/presentation/d/1UZdZm6dugE7ekN04Vl4d8gx8JnngA7_t91rTzQpdvi0/edit#slide=id.p">Primer Trabajo</a>, <a href="https://docs.google.com/document/d/1R5OsEThNDIeJJc8vxBeNbKE8Jft9m18NTapo_d8QaUU/edit?tab=t.0">Mock interview</a></td>        <!-- content -->
      </tr>
      <tr>               <!-- row 2   -->
        <td>11:00-14:00</td>        <!-- time    -->
        <td> <a href="https://project-delphi.github.io/quarto-workshop/#/title-slide">Documentando con Quarto</a></td>        <!-- content -->
      </tr>
      <tr>               <!-- row 3   -->
        <td>16:30-17:30</td>        <!-- time    -->
        <td><a href="https://carpentries-lab.github.io/metagenomics-workshop/">Introducción a Metagenomica</a></td> </tr>
    </table>
  </div>
   <div class="col-md-6"> <!-- right column -->
    <h3>Day 2</h3>
    <table class="table table-striped">
       <tr>               <!-- row 2   -->
        <td> Mañana</td>        <!-- time    -->
        <td><a href="https://swcarpentry.github.io/python-novice-inflammation/">Introducción a Python</a></td>        <!-- content -->
      </tr>
      <tr>               <!-- row 3   -->
        <td>Medio día </td>        <!-- time    -->
        <td><a href="https://swcarpentry.github.io/git-novice-es/">Introducción a Git</a> </td>        <!-- content -->
      </tr>
       <tr>               <!-- row 3   -->
        <td> Tarde</td>        <!-- time    -->
        <td><a href="https://carpentries-lab.github.io/metagenomics-workshop/">Introducción a Metagenomica</a></td>        <!-- content -->
      </tr>
    </table>
  </div>

</div>
